#About {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  line-height: 175%;
}

#About img {
  margin-bottom: 1rem;
}

#About h1 {
  font-weight: 700;
  margin: 2rem auto 2rem auto;
}

#About > div:first-of-type {
  margin-bottom: 2rem;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  max-width: 66%;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  text-align: left;
}

.golden-border {
  border: 2px solid rgba(167, 125, 0, 0.6);
  border-radius: 10px;
  padding: 12px 20px;
  margin: 15px 0;
  box-shadow: 0 2px 8px rgba(167, 125, 0, 0.2);
}
.highlight {
  background-color: inherit;
}
.warning {
  color: #dc3545;
  font-weight: bold;
}
.location {
  background-color: inherit;
}
.championship {
  background-color: inherit;
  text-align: center;
}

.hero-logo {
  display: block;
  margin: 10% auto 1rem auto;
  max-width: 40%;
  height: auto;
}

.championship-photo {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.map-photo {
  max-width: 66%;
  height: auto;
  margin: 1rem 0;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(255, 255, 0, 0.177);
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    max-width: 95%;
    padding: 5px;
  }
  .golden-border {
    padding: 10px 10px;
  }
  .map-photo {
    max-width: 90%;
  }
}
